.button {
  width: 100%;
  cursor: pointer;
  outline: none;
  display: block;
  line-height: 20px;
  height: 40px;
  border: 0;
  background: transparent;

  &.with-icon {
    display: flex;
    align-items: center;
    padding: 0 10px;

    i {
      margin-right: 10px;
      font-size: 1.5em;
    }
  }

  &.dark {
    color: $white;
    background: $dark-blue;
    border: 1px solid $dark-blue;
    transition: all ease-out .25s;

    &:hover {
      background: $white;
      color: $dark-blue;
    }
  }
}

