$font: 'Roboto', sans-serif;
$font-serif: 'Roboto Slab', serif;

$green: #85d063;
$white: #fff;
$dark-gray: #333;
$blue: #4078c0;
$dark-blue: #24292e;
$orange-light: #deb887;
$red: #d05d5d;
$gray-border-color: #d8dee2;

$global-background-color: #f9f9f9;
