@import "../../../styles/variables";

header {
  padding: 15px;
  background-color: $dark-blue;
  border-bottom: 1px solid $gray-border-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-weight: lighter;
    a {
      color: $gray-border-color;
    }
  }
}

nav a {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  padding: .625rem 1.5rem;
  border: 1px solid $dark-gray;
  color: $global-background-color;
  transition: border-color ease-in-out .25s;

  &:hover {
    border-color: $gray-border-color;
  }

  &.user-avatar {
    height: 35px;
    width: 35px;
    overflow: hidden;
    padding: 0;

    img {
      width: 100%;
    }
  }
}
