@import "../../../styles/variables";

header {
  padding: 15px;
  background-color: $dark-blue;
  border-bottom: 1px solid $gray-border-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: $gray-border-color;
  font-size: 22px;
  font-weight: bold;

  span {
    color: $orange-light;
  }
}



nav a {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid $dark-gray;
  font-size: .8rem;
  color: $global-background-color;
  transition: border-color ease-in-out .25s;

  &:hover {
    border-color: $gray-border-color;
  }

  &.user-avatar {
    height: 35px;
    width: 35px;
    overflow: hidden;
    padding: 0;

    img {
      width: 100%;
    }
  }
}
