<div class="login-form">
  <h1>Sign in to Assess</h1>
  <div class="block block-white">
    <!--<a href="https://github.com/login/oauth/authorize?client_id=84a422ecfe9e123e9ebd&scope=user:email" class="button with-icon dark">-->
    <!--<i class="fa fa-github"></i>-->
    <!--Login using Github-->
    <!--</a>-->
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="as-error" *ngIf="error">
        {{error}}
      </div>
      <div class="input-wrapper">
        <div *ngIf="username.errors && (username.dirty || username.touched) && username.errors.required"
             class="input-error">
          Please provide login.
        </div>
        <input type="text" id="login"
               placeholder="Login"
               required
               [ngClass]="{'error': username.errors && (username.dirty || username.touched) && username.errors.required}"
               [(ngModel)]="model.username" name="username"
               #username="ngModel">
      </div>
      <div class="input-wrapper">
        <div *ngIf="password.errors && (password.dirty || password.touched) && password.errors.required"
             class="input-error">
          Please provide password.
        </div>
        <input type="password" id="password"
               placeholder="Password"
               required
               [ngClass]="{'error': password.errors && (password.dirty || password.touched) && password.errors.required}"
               [(ngModel)]="model.password" name="password"
               #password="ngModel">
      </div>

      <input type="submit" value="Login" class="button dark">
    </form>
  </div>
</div>


