@import "app/styles/variables";
@import "app/styles/alerts";
@import "app/styles/buttons";
@import "app/styles/forms";
@import "app/styles/headings";

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $global-background-color;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color ease-out .15s
}

a:hover {
  color: $dark-gray;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.page-content {
  margin: 0 auto;
  padding: 20px;
}

.block {
  border: 1px solid $dark-blue;
  display: block;
  padding: 20px;
}

.block-white {
  background: $white;
}
