@import "app/styles/buttons";
@import "app/styles/forms";
@import "app/styles/headings";

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #f9f9f9;
}

a {
  color: #4078c0;
  text-decoration: none;
  transition: color ease-out .15s
}

a:hover {
  color: #000;
}

.page-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1280px;
}

.block {
  border: 1px solid #d8dee2;
  border-radius: 5px;
  display: block;
  padding: 20px;
}

.block-white {
  background: #fff;
}
